.font1 {
  font-family: 'Allerta Stencil', sans-serif;
}
@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil&display=swap');

.gridGreen {
  background-color: #D3FCC2;
}
.gridRed {
  background-color: #FCC2CC;
}
