#grad {
  height: 750px;
  background-color: #F9E3F5;
  background-image: linear-gradient(to bottom right, #F9E4F8, #F6F9CB);
}
.font1 {
  font-family: 'Allerta Stencil', sans-serif;
}
@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil&display=swap');

.signupbox {
  height : auto;
  width : 400px;
  position: absolute;
  margin-top: 15px;
  margin-left: 35%;
}
