<app-navbar></app-navbar>
<div class="container">
<div class="row pt-5 mt-3">

  <div class="col-sm-6 mt-1">

    <div class="mb-3" ><h1 class="text-success font1 text-center">Vegeterian Food</h1></div>

    <div class="container" >
      <table class="table table-hover">
        <thead>
        <tr>
          <th>FoodItem</th>
          <th>Price</th>
        </tr>
        </thead>
        <tbody *ngFor="let food of allFood">
        <tr *ngIf="food.type=='Vegeterian'">
          <td class="pt-3">{{food.foodItem}}</td>
          <td><i class="fa my-3">&#xf156;</i>{{food.price}}</td>
        </tr>
        </tbody>
      </table>
    </div>



  </div>

  <div class="col-sm-6 mt-1">

    <div class="mb-3"><h1 class="text-danger font1 text-center">Non Vegeterian Food</h1></div>

    <div class="container">

      <table class="table table-hover">
        <thead>
        <tr>
          <th>FoodItem</th>
          <th>Price</th>
        </tr>
        </thead>
        <tbody *ngFor="let food of allFood">
        <tr *ngIf="food.type!=='Vegeterian'">
          <td class="pt-3">{{food.foodItem}}</td>
          <td><i class="fa my-3">&#xf156;</i>{{food.price}}</td>
        </tr>
        </tbody>
      </table>





    </div>



  </div>






</div>
</div>
<app-footer></app-footer>
